In [ ]:
import nltk
nltk.download('all')

In [ ]:
nltk.corpus.genesis.fileids()

['english-kjv.txt',
 'english-web.txt',
 'finnish.txt',
 'french.txt',
 'german.txt',
 'lolcat.txt',
 'portuguese.txt',
 'swedish.txt']

2(A) Write a Python NLTK program to find the number of male and female names in the names
corpus.Print the first 10 male and female names.

In [ ]:
from nltk.corpus import names
nltk.corpus.names.fileids()

['female.txt', 'male.txt']

In [ ]:
with nltk.corpus.names.open('female.txt') as female:
  femaleNames = female.read()
# print(femaleNames)
femaleNames = femaleNames.split("\n")[:-1]
print(f"Number of female names: {len(femaleNames)}\n")

Number of female names: 5001

In [ ]:
with nltk.corpus.names.open('male.txt') as male:
  maleNames = male.read()
maleNames = maleNames.split("\n")[:-1]

print(f"Number of male names: {len(maleNames)}")

Number of male names: 2943

First ten female and male names

In [ ]:
print(f"First ten female names: \n{femaleNames[:10]}")
print(f"First ten male names: \n{maleNames[:10]}")

First ten female names:
['Abagael', 'Abagail', 'Abbe', 'Abbey', 'Abbi', 'Abbie', 'Abby', 'Abigael', 'Abigail', 'Abigale']
First ten male names:
['Aamir', 'Aaron', 'Abbey', 'Abbie', 'Abbot', 'Abbott', 'Abby', 'Abdel', 'Abdul', 'Abdulkarim']

2(B) Write a Python NLTK program to print the first 15 random combine labeled male and labeled
female names from names corpus.

Randomly printing first 15 female / male names from female.txt and male.txt

In [ ]:
import random
for i in range(15):
  listOfName = [femaleNames, maleNames]
  name = random.choice(listOfName)
  randomName = random.choice(name)
  print(f"{i+1} : {randomName}")

1 : Darwin
2 : Harwell
3 : Karin
4 : Emiline
5 : Norwood
6 : Mirella
7 : Ardeen
8 : Goddart
9 : Mortie
10 : Pembroke
11 : Jeannie
12 : Lawerence
13 : Teri
14 : Clemmie
15 : Madalyn